[Unit]
Description=Deployer
After=docker.service
Requires=docker.service

[Service]
Environment="DOCKER_APP_VERSION=1.3.1-rc5"
TimeoutStartSec=0
KillMode=none
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill "$(docker ps -q --filter=name=^/%p-%i_)" > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm "$(docker ps -q --filter=name=^/%p-%i_)" > /dev/null 2>&1'
ExecStartPre=/bin/bash -c 'docker history coco/coco-fleet-deployer:$DOCKER_APP_VERSION > /dev/null 2>&1 || docker pull coco/coco-fleet-deployer:$DOCKER_APP_VERSION'

ExecStart=/bin/sh -c '\
  ROOT_URI=$(etcdctl get /ft/config/services-definition-root-uri); \
  IS_DEBUG=$(etcdctl get /ft/config/deployer/is-debug) || IS_DEBUG=false; \
  HEALTH_ENDPOINT=$(etcdctl get /ft/config/deployer/health-endpoint) || HEALTH_ENDPOINT=__health; \
  SERVICE_NAME_PREFIX=$(etcdctl get /ft/config/deployer/service-name-prefix) || SERVICE_NAME_PREFIX=__; \
  NO_OF_SECS_TO_SLEEP_BEFORE_RESTART=$(etcdctl get /ft/config/deployer/no-of-secs-to-sleep-before-restart) || NO_OF_SECS_TO_SLEEP_BEFORE_RESTART=60; \
  docker run -v "/etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt" --rm --name %p-%i_$(uuidgen) \
  -e="DESTROY=true" \
  -e="IS_DEBUG=$IS_DEBUG" \
  -e="ROOT_URI=$ROOT_URI" \
  -e="HEALTH_URL_PREFIX=http://$HOSTNAME:8080" \
  -e="ETCD_URL=http://$HOSTNAME:2379" \
  -e="FLEET_ENDPOINT=http://$HOSTNAME:49153" \
  -e="HEALTH_ENDPOINT=$HEALTH_ENDPOINT" \
  -e="SERVICE_NAME_PREFIX=$SERVICE_NAME_PREFIX" \
  -e="NO_OF_SECS_TO_SLEEP_BEFORE_RESTART=$NO_OF_SECS_TO_SLEEP_BEFORE_RESTART" \
  coco/coco-fleet-deployer:$DOCKER_APP_VERSION'

ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=^/%p-%i_)"'
Restart=on-failure
RestartSec=10
