[Unit]
Description=Deployer timer

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min

[Install]
WantedBy=timers.target

[X-Fleet]
MachineOf=deployer.service

